@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
  --font-sans:
    "Instrument Sans", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --font-mono:
    "IBM Plex Mono", "SF Mono", SFMono-Regular, Consolas, "Liberation Mono",
    Menlo, Courier, monospace;
}

.habit-bg {
  background-size: 70px 70px;
  background-image:
    linear-gradient(90deg, #80808033 1px, #0000 0),
    linear-gradient(#80808033 1px, #0000 0);
  @apply bg-orange-100;
}

.habit-shadow {
  box-shadow: 2px 2px 0 black;
  @apply transition duration-300 border-2 border-black;

  @variant hover {
    box-shadow: 0 0 0 black;
  }
}

.habit-shadow-lg {
  box-shadow: 3px 3px 0 black;
  @apply transition duration-300 border-3 border-black;

  @variant hover {
    box-shadow: 0 0 0 black;
  }
}
